<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <configuration>
            <competitors>
                <lists>
                    <item1>
                        <value>NTN</value>
                        <label>NTN</label>
                    </item1>
                    <item2>
                        <value>JTEKT</value>
                        <label>JTEKT</label>
                    </item2>
                    <item3>
                        <value>NACHI</value>
                        <label>NACHI</label>
                    </item3>
                    <item4>
                        <value>NMB</value>
                        <label>NMB</label>
                    </item4>
                    <item5>
                        <value>SKF</value>
                        <label>SKF</label>
                    </item5>
                    <item6>
                        <value>FAG</value>
                        <label>FAG</label>
                    </item6>
                    <item7>
                        <value>TSUBAKI</value>
                        <label>TSUBAKI</label>
                    </item7>
                </lists>
            </competitors>
        </configuration>
    </default>
</config>
